<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&load=Map,Placemark&onload=init_yandex" type="text/javascript"></script>
</head>
<body>
    <h1>Test</h1>
    <h3>total - {{ total }}</h3>
    <div>
    {% for item in items %}
        {% set item = item['_source'] %}
        <div class="cian_item" data-id="{{ item['id'] }}" data-center="{{ item['center'] }}">
            <p>
            {% set price = item['price']['rur'] %}
            {% set fee = price + price * (item['agent_fee'] / 100) %}
            {% set first_month = fee + item['deposit'] %}
            цена за первый месяц: {{ first_month|int }}  <br>
            цена за месяц: {{ item['price']['rur']|int }}<br>
            залог: {{ item['deposit'] }}<br>
            комиссия: {{ item['agent_fee'] }}%<br>
            {# комиссия собственника: {{ item['client_fee'] }}%<br> #}
            {{ item['phone'] }}<br>
            {% if 1 %}
                на месяцы: {{ item['for_day'] }}
            {% endif %}
            </p>

            {% for photo in item['photos'] %}
                <img src="{{ photo['img'] }}" width="100">
            {% endfor %}
            <p><a href="https://spb.cian.ru{{ item['link'] }}" target="_blank">{{ item['link'] }}</a></p>

            <div id="id_{{ item['id'] }}" style="width: 800px; height: 400px;"></div>
            <hr>
        </div>
    {% endfor %}
    </div>
    <div>
        {% for page in pages %}
            {% if page == current_page %}
                <strong>{{ page }}</strong> |&nbsp;
            {% else %}
                <a href="{{ request.path }}?page={{ page }}">{{ page }}</a> |&nbsp;
            {% endif %}
        {% endfor %}
    </div>

</body>

<script>

    function init_yandex (ymaps) {
        var items = document.getElementsByClassName('cian_item');
        for (let i in items) {
            if (!items.hasOwnProperty(i)) {
                continue;
            }
            init_map(ymaps, items[i]);
        }
    }

    var init_map = function(ymaps, domAdvert) {
        var itemId = domAdvert.getAttribute('data-id');
        var mapPos = domAdvert.getAttribute('data-center')
                              .replace('[', '').replace(']', '')
                              .split(', ');
                var myMap = new ymaps.Map('id_' + itemId, {
                      center: mapPos,
                      zoom: 9
                    }),
                    placemark = new ymaps.Placemark(mapPos);
                    myMap.geoObjects.add(placemark);
    }
</script>

</html>